@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
white-space: nowrap;
overflow: hidden;
display: inline-block;
animation: marquee 10s linear infinite;
}

.marquee p {
display: inline-block;
}

@keyframes marquee {
0% {
    transform: translate3d(0, 0, 0);
}
100% {
    transform: translate3d(-50%, 0, 0);
}
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #070707;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}

.relative-card {
    @apply relative
}

.relative-card:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    @apply rounded-3xl
}

.grain{
    @apply relative
}

.grain:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    @apply rounded-xl
}

.normal-scroll::-webkit-scrollbar {
    width: 10px;
}
    
    
.normal-scroll::-webkit-scrollbar-track {
    background: #acacac;
}
    
.normal-scroll::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 2px;
}
    
.normal-scroll::-webkit-scrollbar-thumb:hover {
    background: #464646;
}
