@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
white-space: nowrap;
overflow: hidden;
display: inline-block;
animation: marquee 10s linear infinite;
}

.marquee p {
display: inline-block;
}

@keyframes marquee {
0% {
    transform: translate3d(0, 0, 0);
}
100% {
    transform: translate3d(-50%, 0, 0);
}
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #070707;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}
